/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital@0;1&display=swap');

/* apply to all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #1e6639;
    font-family: 'poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'pacifico', sans-serif;
}

/* styling for header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    padding-top: 20px;
    position:fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 5px solid #1e6639;
    /* This makes all header elements align evenly on top*/
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #1e6639;
    font-family: 'pacifico', sans-serif;
}
/*this keeps the logo in-line with the nav-menu*/
#logo-link {
    max-height: 50px;
    margin-bottom: 5px;
}

/* this section styles the nav bar */
#nav-menu {
    font-size: 115%;
    list-style-type: none;
}

#nav-menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #1e6639;
}

/* nav bar styling */
nav {
    position:absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;   
    padding: 0 2rem;
    border-bottom: 5px solid #1e6639;
    display: none;
    top: 100%;
}

/* nav check box/toggle */
#nav-toggle:checked~nav {
    display:block
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 200%;
}


/* styling for the main content */

main {
    flex: 1 0 auto;
    margin-top: 80px;
}

/* Hero Section */
#hero {
    height: 500px;
    width: 100%;
    background: url(../images/hero.webp) no-repeat center center/cover;
    position:relative;

}

#cover-text {
    background-color: rgba(30, 102, 57, .4);
    color: #ffffff;
    position: absolute;
    top: 7%;
    width: 65%;
    left: 50px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/*meet me section */
#meet-craig, #my-passion {
    padding: 10px 40px;
    color:#1e6639;
    background-color:#ffffff;
}

#meet-craig-text, #my-passion-text {
    margin: 10px;
    text-align: center; 
}

#meet-craig-text h2, #my-passion-text h2 {
    font-size: 280%;
}

#craig-pic {
    width: 90vw;
    height: 90vh;
    background: url(../images/meet-me.webp) no-repeat center center/cover;
    margin-bottom: 10px;
    margin-top: 10px;
    /*makes the image a circle*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#garden-pic {
    width: 90vw;
    height: 90vh;
    background: url(../images/garden-pic.webp) no-repeat center center/cover;
    margin-bottom: 10px;
    margin-top: 10px;
    /*makes the image a circle*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#meet-craig-image, #my-passion-image {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* styling for the footer */
footer {
    background-color: #1e6639;
    color: white;
}

.social-section {
    margin-bottom: 10px;
    text-align: center;
}

#social-title {
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    font-size: 90%;
}

#social-networks {
    list-style: none;
    padding: 1.5%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#social-networks i {
    font-size: 200%;
    padding: 10px 25px;
    color: #ffffff;
}



/*Media query styling*/

/* media query for tablets or larger*/
@media screen and (min-width: 768px) {
    /*navbar styling (expand on larger screens)*/
        nav {
            display: block;
            position:relative;
            border-bottom: none;
            width: fit-content;
            padding-right: 1rem;
        }

        /* this puts nav menu in a row */
        #nav-menu {
            display: flex;
        }

        /* this puts some space between menu elements */
        #nav-menu > li {
            padding-left: 1rem;
        }
        
        /*this hides the burger icon when on bigger screens*/
        .nav-toggle-label {
            display: none;
        }

        /* this pushes the main content down further due to expanding nav menu */
        main {
            margin-top: 81px;
        }

            /* meet craig section */
        /* makes meet craig image slightly wider */
        #craig-pic, #garden-pic {
        border-radius: 10%;
        max-width: 450px;
        max-height: 300px;
        }


        /* footer*/
        /*enlarges social-title on bigger screens*/
        #social-title{
            font-size: 1.5rem;
        }

    }


/* media query for laptops or larger*/
@media screen and (min-width: 992px) {
    /* Header section */
    /* gives nav-menu elements a line underneath when hovered on */
    #nav-menu a:hover {
        border-bottom: 2px solid #1e6639;
    }
    /* Main Content */
    /* meet-craig & my-passion section */
           #meet-craig,
           #my-passion {
               display: flex;
               flex-direction: row;
               align-items: center;
           }
    
           #meet-craig>div,
           #my-passion>div {
               flex: 1;
           }
    
           /* Specific styles for each meet-me section */
           #meet-craig-image,
           #my-passion-text {
               order: 2;
               align-self: flex-end;
           }
    
           #meet-craig-text,
           #my-passion-image {
               order: 1;
               align-self: flex-start;
           }

         /*Footer*/
         /*This enlarges the footer title*/
         #social-title {
            font-size: 2rem;
         }
}