/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital@0;1&display=swap');

/* apply to all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #1e6639;
    font-family: 'poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'pacifico', sans-serif;
}

/* styling for header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 5px solid #1e6639;
}

header a {
    text-decoration: none;
    color: #1e6639;
    font-family: 'pacifico', sans-serif;
}

*                                   *
/* this section styles the nav bar */
#nav-menu {
    font-size: 115%;
    list-style-type: none;
}

#nav-menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #1e6639;
}

/* nav bar styling and check box/toggle*/
nav {
    position:absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;   
    padding: 0 2rem;
    border-bottom: 5px solid #1e6639;
    display: none;
}



/* styling for the main content */

main {
    background-color: blueviolet;
    flex: 1 0 auto;
}


/* styling for the footer */
footer {
    background-color: coral;
}