/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital@0;1&display=swap');

/* apply to all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #1e6639;
    font-family: 'poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'pacifico', sans-serif;
}

/* styling for header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 5px solid #1e6639;
    /* This makes all header elements align evenly on top*/
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #1e6639;
    font-family: 'pacifico', sans-serif;
}

/* this section styles the nav bar */
#nav-menu {
    font-size: 115%;
    list-style-type: none;
}

#nav-menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 2px solid #1e6639;
}

/* nav bar styling */
nav {
    position:absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;   
    padding: 0 2rem;
    border-bottom: 5px solid #1e6639;
    display: none;
    top: 100%;
}

/* nav check box/toggle */
#nav-toggle:checked~nav {
    display:block
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 200%;
}


/* styling for the main content */

main {
    flex: 1 0 auto;
    margin-top: 62px;
}

/* Hero Section */
#hero {
    height: 60vh;
    width: 100vw;
    background: url(../images/hero.webp) no-repeat center center/cover;

}


/* styling for the footer */
footer {
    background-color: #1e6639;
    color: white;
}

.social-section {
    margin-bottom: 10px;
    text-align: center;
}

#social-title {
    margin-bottom: 10px;
    color: white;
    font-size: 90%;
}

#social-networks {
    list-style: none;
    padding: 2.5%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #ffffff;
}



/*Media query styling*/

/* media query for tablets or larger*/
@media screen and (min-width: 768px) {
    /*navbar styling (expand on larger screens)*/
    nav {
        display: block;
        position:relative;
        border-bottom: none;
        width: fit-content;
        padding-right: 1 rem;
    }

    /* this puts nav menu in a row */
    #nav-menu {
        display: flex;
    }

    /* this puts some space between menu elements */
    #nav-menu > li {
        padding-left: 1rem;
    }
    
    /*this hides the burger icon when on bigger screens*/
    .nav-toggle-label {
        display: none;
    }

    /* this pushes the main content down further due to expanding nav menu */
    main {
        margin-top: 81px;
    }

    /*enlarges social-title on bigger screens*/
    #social-title{
        font-size: 120%;
    }

    
}

/* media query for laptops or larger*/
@media screen and (min-width: 992px) {
    /* gives nav-menu elements a line underneath when hovered on */
    #nav-menu a:hover {
        border-bottom: #1e6639;
    }
}